@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@600&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#app {
    overflow: hidden;
    padding-bottom: 300px;
}

h1,h2,h3,h4,span {
    color: #4C4C4C;
}

h3 {
    font-size: 16px !important;
}

/* Navbar component */
#app-bar {
    box-shadow: none;
    background-color: white;
    position: fixed;
    z-index: 9;
    height: 68px;
}
  
#nav {
    margin: auto;
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
    box-shadow: none;
}

#logo-title {
    width: 130px;
    height: 40px;
    position: relative;
    top: 20%;
}

.v-tab {
    text-transform: none !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
}

.v-navigation-drawer, .v-overlay__scrim {
    height: 100vh !important;
}

.v-app-bar__nav-icon, #logo-mobile {
    display: none !important;
}

.v-item-group .v-list-item:first-child {
    margin-top: 25px !important;
}

.first {
    margin-top: 15px;
}

#drawer-image {
    margin: 15px;
}

/* Drawer component */
#drawer {
    height: 30px;
    position: relative;
}

#btn-drawer {
    position: absolute;
    top: 20px;
    left: 20px;
}

.v-list-item {
    position: relative;
    left: 10px;
}

/* Banner component */
#banner {
    position: relative;
    top: 68px;
    height: 200px;
    width: 100vw;
    margin-right: 0;
    margin-left: 0;

    background-image: url('../images/los-cocos-room-header-2-x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#blue-row {
    position: relative;
    margin-top: 30px;
    height: 65%;

    background-color: rgba(23, 111, 184, 0.192);
}

.v-input, .button {
    position: relative;
    top: 15%;
    font-family: 'Montserrat' !important;
}

.v-text-field__slot, .v-select__slot {
    background-color: white;
    border-radius: 3px;
    height: 60px;

    font-weight: 400;
    color: #4C4C4C;
    font-size: 16px;
    padding-left: 5%;
    font-family: 'Montserrat';
}

.v-select__slot {
    padding-left: 0;
    font-family: 'Montserrat';
}

.v-text-field__prefix {
    font-family: 'Montserrat';
}

#button-col {
    margin-left: -70px;
}

.button {
    height: 60px !important;
    min-width: 180px !important;
}

.v-btn__content {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600;
    text-transform: none !important;
    font-size: 20px;
}

/* Main component */
#main {
    position: relative;
    top: 120px;
}

#rooms {
    position: relative;
    top: 41px;
}

.headliner {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600;
    font-size: 28px;
}

.subheadliner {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.save-button {
    height: 70px !important;
    margin-top: 40px;
}

.header-card {
    font-size: 26px;
}

.subheader-card {
    font-size: 22px;
}

.room-card {
    cursor: pointer;
    width: 95%;
}

.img-card {
    height: 90%;
    position: relative;
    top: 5%;
    right: 50px;
    z-index: 0;
}

.info-room {
    position: absolute;
    bottom: 5px;
}

.double-bed {
    position: absolute;
    bottom: 80px;
}

.coco-straw {
    position: relative;
    top: 12px;
    left: 70px;
}

/* Footer component */
.footer {
    width: 100%;
    border-top: 1px solid rgb(185, 185, 185);
    position: absolute;
    bottom: -250px;
}

#logo-footer {
    position: relative;
    top: 20px;
    left: 30px;
}

/* responsiveness */

@media screen and (max-width: 1904px) {
    /* main & rooms */
    .img-card {
        right: 120px;
    }

    .coco-straw {
        left: -20px;
    }

    #room-price {
        font-size: 24px;
    }
}

@media screen and (max-width: 1600px) {
    /* navbar */
    #nav {
        margin-right: 200px;
        margin-left: 200px;
    }

    .v-text-field__slot, .v-select__slot {
        font-size: 14px;
    }

    #button-col {
        margin-left: -30px;
    }
}

@media screen and (max-width: 1350px) {
    /* navbar */
    #nav {
        margin-right: 100px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 1264px) {
    /* navbar */
    #nav {
       display: none;
    }

    #app-bar {
        z-index: 0;
    }

    .v-app-bar__nav-icon, #logo-mobile {
        display: block !important;
    }

    /* drawer */
    #logo-mobile {
        margin: auto;
        position: relative;
        right: 5px;
        top: 20px;
    }

    /* banner */
    #banner {
        height: 500px;
    }

    #blue-row {
        height: 85%;
    }

    #button-col {
        margin-left: 25%;
    }

    .button {
        min-width: 100% !important;
    }

    /* main & rooms*/
    .room-card {
        width: 100%;
    }
    
    .img-card {
        width: 100%;
        right: 0;
    }

    .info-room {
        position: relative;
    }

    .double-bed {
        position: absolute;
        bottom: 20px;
    }
}

@media screen and (max-width: 960px) {
    /* banner */
    #button-col {
        margin-left: 0%;
    }

    /* main & rooms */
    #stepper {
        width: 100%;    
    }
}