@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@600&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow-x: hidden;
}

/* Navbar component */
#app-bar {
    box-shadow: none;
    background-color: white;
    position: fixed;
}
  
#nav {
    margin: auto;
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
    box-shadow: none;
}

#logo-title {
    width: 130px;
    height: 40px;
    position: relative;
    top: 20%;
}

.v-tab {
    text-transform: none !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
}

.v-navigation-drawer, .v-overlay__scrim {
    height: 100vh !important;
}

.v-app-bar__nav-icon, #logo-mobile {
    display: none !important;
}

.v-item-group .v-list-item:first-child {
    margin-top: 25px !important;
}

.first {
    margin-top: 15px;
}

#drawer-image {
    margin: 15px;
}

@media screen and (max-width: 1600px) {
    #nav {
        margin-right: 200px;
        margin-left: 200px;
    }
}

@media screen and (max-width: 1350px) {
    #nav {
        margin-right: 100px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 1264px) {
    #nav {
       display: none;
    }

    .v-app-bar__nav-icon, #logo-mobile {
        display: block !important;
    }
}

/* Drawer component */
#drawer {
    height: 30px;
    position: relative;
}

#btn-drawer {
    position: absolute;
    top: 20px;
    left: 20px;
}

@media screen and (max-width: 1264px) {
    #logo-mobile {
        margin: auto;
        position: relative;
        right: 5px;
        top: 20px;
    }
}

.v-list-item {
    position: relative;
    left: 10px;
}

/* Banner component */
#banner {
    position: relative;
    top: 68px;
    height: 200px;
    width: 100vw;
    margin-right: 0;
    margin-left: 0;

    background-image: url('../images/los-cocos-room-header-2-x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#blue-row {
    position: relative;
    margin-top: 30px;
    height: 65%;

    background-color: rgba(23, 111, 184, 0.192);
}

.v-input, .button {
    position: relative;
    top: 15%;
    font-family: 'Montserrat' !important;
}

.v-text-field__slot, .v-select__slot {
    background-color: white;
    border-radius: 3px;
    height: 60px;

    font-weight: 400;
    color: black;
    font-size: 16px;
    padding-left: 5%;
    font-family: 'Montserrat';
}

.v-select__slot {
    padding-left: 0;
    font-family: 'Montserrat';
}

.v-text-field__prefix {
    font-family: 'Montserrat';
}

#button-col {
    margin-left: -70px;
}

.button {
    height: 60px !important;
    min-width: 180px !important;
}

.v-btn__content {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600;
    text-transform: none !important;
    font-size: 20px;
}

@media screen and (max-width: 1264px) {
    #banner {
        height: 500px;
    }

    #blue-row {
        height: 85%;
    }

    #button-col {
        margin-left: 0;
    }

    .button {
        min-width: 100% !important;
    }
}